<!DOCTYPE html>
{% block doc -%}
<html>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}Review Classification{% endblock title %}</title>

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body class="panel panel-default">
    {% block body -%}
    {% block navbar %}
        <div class="panel-heading">
            <h1 align="center">Polarity Prediction</h1>
        </div>
    {%- endblock navbar %}
    {% block content -%}
    <div class="panel-body text-center">
       <h3>Thank you for your feedback!</h3>
        <div class="col-xs-5"></div>
         <div class="col-xs-3" style="padding-top: 30px";>
             <form action="/">
                 <button type=submit value='Submit review' name='submit_btn' class = "btn btn-block btn-primary btn-small" >Submit another review</button>
             </form>
         </div>
    </div>
    {%- endblock content %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}